################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calling_Web_Service_using_SOAP_Request/bin/Debug/Calling_Web_Service_using_SOAP_Request.exe
